USE [master]
GO
/****** Object:  Database [quanlibanvetau2]    Script Date: 7/10/2025 9:13:06 PM ******/
CREATE DATABASE [quanlibanvetau2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'quanlibanvetau2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\quanlibanvetau2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'quanlibanvetau2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\quanlibanvetau2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [quanlibanvetau2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [quanlibanvetau2]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/10/2025 9:13:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuyenTaus]    Script Date: 7/10/2025 9:13:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenTaus](
	[MaChuyen] [int] IDENTITY(1,1) NOT NULL,
	[TenTau] [nvarchar](max) NOT NULL,
	[GaDi] [nvarchar](max) NOT NULL,
	[GaDen] [nvarchar](max) NOT NULL,
	[ThoiGianKhoiHanh] [datetime2](7) NOT NULL,
	[ThoiGianDen] [datetime2](7) NOT NULL,
	[TongSoGhe] [int] NOT NULL,
	[GiaVe] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_ChuyenTaus] PRIMARY KEY CLUSTERED 
(
	[MaChuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HanhKhaches]    Script Date: 7/10/2025 9:13:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HanhKhaches](
	[MaHanhKhach] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](max) NOT NULL,
	[CMND] [int] NOT NULL,
	[DienThoai] [nvarchar](max) NOT NULL,
	[DiaChi] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_HanhKhaches] PRIMARY KEY CLUSTERED 
(
	[MaHanhKhach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanViens]    Script Date: 7/10/2025 9:13:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanViens](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[TenNV] [nvarchar](max) NOT NULL,
	[SoDienThoai] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_NhanViens] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoans]    Script Date: 7/10/2025 9:13:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoans](
	[TenDangNhap] [nvarchar](450) NOT NULL,
	[MatKhau] [nvarchar](max) NOT NULL,
	[VaiTro] [nvarchar](max) NOT NULL,
	[MaNV] [int] NULL,
	[MaHanhKhach] [int] NULL,
 CONSTRAINT [PK_TaiKhoans] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongKes]    Script Date: 7/10/2025 9:13:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongKes](
	[MaThongKe] [int] IDENTITY(1,1) NOT NULL,
	[Ngay] [datetime2](7) NOT NULL,
	[MaChuyen] [int] NULL,
	[MaNV] [int] NULL,
	[TongVeDaBan] [int] NOT NULL,
	[DoanhThu] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_ThongKes] PRIMARY KEY CLUSTERED 
(
	[MaThongKe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VeTaus]    Script Date: 7/10/2025 9:13:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VeTaus](
	[MaVe] [int] IDENTITY(1,1) NOT NULL,
	[MaChuyen] [int] NULL,
	[MaHanhKhach] [int] NULL,
	[NgayDat] [datetime2](7) NOT NULL,
	[SoGhe] [nvarchar](max) NOT NULL,
	[TrangThai] [nvarchar](max) NOT NULL,
	[MaNV] [int] NULL,
	[GiaVe] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_VeTaus] PRIMARY KEY CLUSTERED 
(
	[MaVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_TaiKhoans_MaHanhKhach]    Script Date: 7/10/2025 9:13:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_TaiKhoans_MaHanhKhach] ON [dbo].[TaiKhoans]
(
	[MaHanhKhach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TaiKhoans_MaNV]    Script Date: 7/10/2025 9:13:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_TaiKhoans_MaNV] ON [dbo].[TaiKhoans]
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ThongKes_MaChuyen]    Script Date: 7/10/2025 9:13:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_ThongKes_MaChuyen] ON [dbo].[ThongKes]
(
	[MaChuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ThongKes_MaNV]    Script Date: 7/10/2025 9:13:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_ThongKes_MaNV] ON [dbo].[ThongKes]
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VeTaus_MaChuyen]    Script Date: 7/10/2025 9:13:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_VeTaus_MaChuyen] ON [dbo].[VeTaus]
(
	[MaChuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VeTaus_MaHanhKhach]    Script Date: 7/10/2025 9:13:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_VeTaus_MaHanhKhach] ON [dbo].[VeTaus]
(
	[MaHanhKhach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VeTaus_MaNV]    Script Date: 7/10/2025 9:13:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_VeTaus_MaNV] ON [dbo].[VeTaus]
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChuyenTaus] ADD  DEFAULT ((0.0)) FOR [GiaVe]
GO
ALTER TABLE [dbo].[VeTaus] ADD  DEFAULT ((0.0)) FOR [GiaVe]
GO
ALTER TABLE [dbo].[TaiKhoans]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoans_HanhKhaches_MaHanhKhach] FOREIGN KEY([MaHanhKhach])
REFERENCES [dbo].[HanhKhaches] ([MaHanhKhach])
GO
ALTER TABLE [dbo].[TaiKhoans] CHECK CONSTRAINT [FK_TaiKhoans_HanhKhaches_MaHanhKhach]
GO
ALTER TABLE [dbo].[TaiKhoans]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoans_NhanViens_MaNV] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanViens] ([MaNV])
GO
ALTER TABLE [dbo].[TaiKhoans] CHECK CONSTRAINT [FK_TaiKhoans_NhanViens_MaNV]
GO
ALTER TABLE [dbo].[ThongKes]  WITH CHECK ADD  CONSTRAINT [FK_ThongKes_ChuyenTaus_MaChuyen] FOREIGN KEY([MaChuyen])
REFERENCES [dbo].[ChuyenTaus] ([MaChuyen])
GO
ALTER TABLE [dbo].[ThongKes] CHECK CONSTRAINT [FK_ThongKes_ChuyenTaus_MaChuyen]
GO
ALTER TABLE [dbo].[ThongKes]  WITH CHECK ADD  CONSTRAINT [FK_ThongKes_NhanViens_MaNV] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanViens] ([MaNV])
GO
ALTER TABLE [dbo].[ThongKes] CHECK CONSTRAINT [FK_ThongKes_NhanViens_MaNV]
GO
ALTER TABLE [dbo].[VeTaus]  WITH CHECK ADD  CONSTRAINT [FK_VeTaus_ChuyenTaus_MaChuyen] FOREIGN KEY([MaChuyen])
REFERENCES [dbo].[ChuyenTaus] ([MaChuyen])
GO
ALTER TABLE [dbo].[VeTaus] CHECK CONSTRAINT [FK_VeTaus_ChuyenTaus_MaChuyen]
GO
ALTER TABLE [dbo].[VeTaus]  WITH CHECK ADD  CONSTRAINT [FK_VeTaus_HanhKhaches_MaHanhKhach] FOREIGN KEY([MaHanhKhach])
REFERENCES [dbo].[HanhKhaches] ([MaHanhKhach])
GO
ALTER TABLE [dbo].[VeTaus] CHECK CONSTRAINT [FK_VeTaus_HanhKhaches_MaHanhKhach]
GO
ALTER TABLE [dbo].[VeTaus]  WITH CHECK ADD  CONSTRAINT [FK_VeTaus_NhanViens_MaNV] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanViens] ([MaNV])
GO
ALTER TABLE [dbo].[VeTaus] CHECK CONSTRAINT [FK_VeTaus_NhanViens_MaNV]
GO
USE [master]
GO
